# Fichier d'exemple .env
# Copiez ce fichier en .env et mettez vos valeurs locales.

DJANGO_SECRET_KEY=change_me_very_secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_CORS_ALLOW_ALL_ORIGINS=True
